* {
    font-family: Montserrat,Arial, Helvetica, sans-serif;
}

.center {
    text-align: center;
}

h1 {
    color: #123c69;
}

h2, h4 {
    color: #665e61;
    font-weight: 500;
}

body {
    background-color: #edc7b7;
}

p, ul, ol {
    color: #ac3b61;
    font-weight: 500;
}